# Read user provided configuration documentation:
#    https://docs.armbian.com/Developer-Guide_User-Configurations/
# and build script documentation:
#    https://docs.armbian.com/Developer-Guide_Build-Options/
# for detailed explanation of these options and for additional
# options not listed here

# override presets from $SRC/lib/configuration.sh
TZDATA="Etc/UTC"			# timezone for target
USEALLCORES=yes				# use all CPU cores for compiling
EXIT_PATCHING_ERROR="yes"		# force to exit patching if failed

# advanced
if [[ $USE_CCACHE != no ]]; then
	display_alert "Using fast C/C++ compiler cache" "$CCACHE_DIR" "info"
	ccache -s
fi
